.web{
    margin-bottom: -15px;
    font-weight: lighter;
    color: #2F4F4F;
    font-family: Arial, Helvetica, sans-serif;
    font-size: large;
    margin-left: 10px;
}

.main{
    text-align: right;
    font-weight: lighter;
    color: #2F4F4F;
    font-family: Arial, Helvetica, sans-serif;
    font-size: large;
    margin-top: -22px;
    margin-right: 10px;
}

.filter {
    height: 400px;
    width: 200px;
    margin: 60px 100px;
    display: grid;
    align-items: flex-start;
    
    
    
}

.dropbtn{
    width: 100%;
    text-align: left;
    font-weight: bolder;
    border-bottom: 1px solid black;
    background-color: lightgray;
    border-radius: 5px 5px 1px 1px;
}

.dropdown{
    border: 1px solid black;
    border-radius: 5px;
    
    
    
}

.toolsbtn{
    width: 100%;
    text-align: left;
    font-weight: bold;
    border-bottom: 1px solid black;
    background-color: lightgray;
    border-radius: 5px 5px 1px 1px;
}
.word{
    margin-left: 10px;
}

.tools{
    border: 1px solid black;
    border-radius: 5px;
    margin-top: 20px;
    
}


.dropdown, .tools {
    margin-right: 20px; 
    
}
  
#tableContainer {
    flex-grow: 1; 
    margin-top: 20px; 
}

.difference{
    
    border-radius: 2px;
    width: auto;
    
     
}  
  
.container{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin-top:30px;
    margin-left: 60px;
    margin-right: 60px; 
    text-wrap: wrap;

}

table{
    border-collapse: collapse;
}

th{
    padding: 8px;
    text-align: center;
    border: 2px solid #A9A9A9;
    width: 150px;
    background-color: lightgray;
}
th:first-child{
    background-color: transparent;
}

td{
    padding: 8px;
    border: 2px solid #A9A9A9;
    text-align: center;
    
}
td:first-child{
    text-align: left;
}


