.web{
    margin-bottom: -15px;
    font-weight: lighter;
    color: #2F4F4F;
    font-family: Arial, Helvetica, sans-serif;
    font-size: large;
    margin-left: 10px;
}

.main{
    text-align: right;
    font-weight: lighter;
    color: #2F4F4F;
    font-family: Arial, Helvetica, sans-serif;
    font-size: large;
    margin-top: -22px;
    margin-right: 10px;
}

.elements{
    height: auto;
    width: 360px;
    margin: 120px 100px;
    display: grid;
    align-items: flex-start;
    border:1px solid black;
    
}

ul{
    font-family: Arial, Helvetica, sans-serif;
    font-weight: lighter;
    font-size: small;
    line-height: 25px;
}

h2{
    font-family: Arial, Helvetica, sans-serif;
    font-weight: lighter;
}

.selector{
    padding-top: 100px;
    margin-bottom: -80px;
    margin-left: 100px;
    display: flex;
    gap: 4px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: small;
}

